<section class="course-area section-gap" id="titulo">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h2><b>Proyecto desarrollado por estudiantes de la universidad de talca.</b></h2>
                    <p >Somos pulentos cauros.</p>
                </div>
            </div>
        </div>						
    </div>	
    <br>
    <div class="row">
        <div class="col 4">
            <div class="caja">Proyecto final del ramo de Construccion de software, llevado a cabo el año 2020 por: 
                <b><p id="uno1">Equipo 1</p></b>
                <b><p id="dos2"> Equipo 2</p></b>
                <b><p id="tres3">Equipo 3</p></b>
                <b><p id="cuatro4">Equipo 4</p></b>
                <b><p id="cinco5">Equipo 5</p></b>
                <b><p id="seis6">Equipo 6</p></b>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
</section>