p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 15px;
}

img{
width: 400px; height: 250px;
}

h2 {
  font-size: 48px;
  color: #000000;
}

h3 {
  font-size: 32px;
  color: #000000;
  }
  
.service {
background: #fff;
padding: 50px;
}

.service .service-element,
.service .service-info {
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
transition-duration: 300ms;
transition-property: all;
transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service .service-icon {
display: block;
font-size: 30px;
color: #999caa;
margin-bottom: 30px;
}

.service:hover .service-element {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
-moz-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
transition-duration: 300ms;
transition-property: all;
transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service:hover .service-info {
-webkit-transform: translate3d(0, -30%, 0);
-moz-transform: translate3d(0, -30%, 0);
transform: translate3d(0, -30%, 0);
transition-duration: 300ms;
transition-property: all;
transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service img {
width: 150px; height: 150px;
}

.service img.grande{
width: 200px; height: 150px;
}